.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw 0vh 5vw;
    height: 68px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 68px;
    width: auto;
    transition: height 0.3s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.nav-link {
    text-decoration: none;
    color: #FF6060;
    margin-left: 5vw;
}

.nav a.active {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
    color: #FF6060;
}

@media (max-width: 768px) {
    .logo {
        height: 47px;
    }

    .header {
        height: 47px;
    }
    .nav {
        font-size: 12px;
    }
}