.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
}

.hero-banner {
    width: 100%;
    max-width: 100%;
    height: 222px;
    object-fit: cover;
    mix-blend-mode: darken;
    border-radius: 25px;
    filter: brightness(60%);
    margin-bottom: 2.5vh;
    transition: height 0.3s ease;
}

.hero-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    font-weight: 500;
    font-size: 48px;
    width: 80%;
}

.grid-container {
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 5rem;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.grid-item {
    position: relative;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    overflow: hidden;
    box-sizing: border-box;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
}

.grid-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    color: #fff;
}

@media (max-width: 844px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));
    }
    .grid-item {
        width: 95%;
        height: 255px;
    }
}

@media (max-width: 768px) {
    .hero-container h1 {
        font-size: 24px;
        left: 50%;
        transform: translate(-60%, -70%);
        width: 80%;
    }
    .hero-banner {
        border-radius: 10px;
        height: 111px;
    }
    .hero-container {
        text-align: left;
      }
}