.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
}

.hero-banner {
    width: 100%;
    max-width: 100%;
    height: 222px;
    object-fit: cover;
    mix-blend-mode: darken;
    border-radius: 25px;
    filter: brightness(60%);
    margin-bottom: 2.5vh;
    transition: height 0.3s ease;
}

.hero-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    font-weight: 500;
    font-size: 48px;
}

@media (max-width: 768px) {
    .hero-banner {
        border-radius: 10px;
        height: 111px;
    }
  }